[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ICC.Sample.Size"]
	path = ICC.Sample.Size
	url = https://github.com/cran/ICC.Sample.Size
